<h1 translate="cheating.cheating"></h1>
<span translate="cheating.statements"></span>
<ul>
  <li translate="cheating.statements1"></li>
  <li translate="cheating.statements2"></li>
  <li translate="cheating.statements3"></li>
</ul>

<span translate="cheating.docs"></span><br>
<i class="fa fa-link"></i> <a>http://blogs.magicjudges.org/o/disqualification-process/</a>

<h1 translate="cheating.backup"></h1>
<ul>
  <li>
    <em translate="cheating.when"></em>
    <b translate="cheating.lastresort"></b>
    <ul>
      <li translate="cheating.when1"></li>
      <li translate="cheating.when2"></li>
      <li translate="cheating.when3"></li>
    </ul>
  </li>
  <li>
    <em translate="cheating.perform"></em>
    <span translate="cheating.perform2"></span>
    <ul>
      <li translate="cheating.backup1"></li>
      <li translate="cheating.backup2"></li>
      <li translate="cheating.backup3"></li>
      <li><b translate="cheating.backup4"></b></li>
    </ul>
  </li>
</ul>

<h1 translate="cheating.golden"></h1>
<div>
  <span translate="cheating.golden1"></span>
  <span translate="cheating.golden2"></span>
  <span translate="cheating.golden3"></span>
  <span translate="cheating.golden4"></span>
  <span translate="cheating.golden5"></span>
  <span translate="cheating.golden6"></span>
  <span translate="cheating.golden7"></span>
  <span translate="cheating.golden8"></span>
  <span translate="cheating.golden9"></span>
  <span translate="cheating.golden10"></span>
  <span translate="cheating.golden11"></span>
  <span translate="cheating.golden12"></span>
  <span translate="cheating.golden13"></span>
  <span translate="cheating.golden14"></span>
  <span translate="cheating.golden15"></span>
  <span translate="cheating.golden16"></span>
  <span translate="cheating.golden17"></span>
</div>