<h1 translate="pages.commander"></h1>

<h2 translate="commander.deckbuilding"></h2>
<p translate="commander.deckbuilding1"></p>

<h2 translate="commander.specific"></h2>
<ul>
  <li translate="commander.specific1"></li>
  <li translate="commander.specific2"></li>
  <li translate="commander.specific3"></li>
  <li translate="commander.specific4"></li>
  <li translate="commander.specific5"></li>
</ul>

<p>
  <b translate="commander.coloridentity"></b>
  <span translate="commander.coloridentity1"></span>
</p>

<p>
  <b translate="commander.time"></b>
  <span translate="commander.time1"></span>
</p>


<i class="fa fa-link"></i> <span translate="commander.rules"></span>
<a>http://mtgcommander.net/rules.php</a>
<br>

<i class="fa fa-link"></i> <span translate="commander.duel"></span>
<a>http://www.duelcommander.com/</a>
<br>