<h1 translate="competitive.title"></h1>

<h2 translate="competitive.entry"></h2>
<ul>
  <li translate="competitive.entry1"></li>
  <li translate="competitive.entry2"></li>
  <li translate="competitive.entry3"></li>
  <li translate="competitive.entry4"></li>
  <li translate="competitive.entry5"></li>
  <li translate="competitive.entry6"></li>
</ul>

<h2 translate="competitive.prereg"></h2>
<ul>
  <li translate="competitive.prereg1"></li>
  <li translate="competitive.prereg2"></li>
  <li translate="competitive.prereg3"></li>
  <li translate="competitive.prereg4"></li>
</ul>

<h2 translate="competitive.prepare"></h2>
<ul>
  <li translate="competitive.prepare1"></li>
  <li translate="competitive.prepare2"></li>
  <li translate="competitive.prepare3"></li>
  <li translate="competitive.prepare4"></li>
  <li translate="competitive.prepare5"></li>
  <li translate="competitive.prepare6"></li>
  <li translate="competitive.prepare7"></li>
  <li translate="competitive.prepare8"></li>
</ul>
