<h1 translate="competitive2.title"></h1>

<h2 translate="competitive2.required"></h2>
<ul>
  <li translate="competitive2.required1"></li>
  <li translate="competitive2.required2"></li>
  <li translate="competitive2.required3"></li>
  <li translate="competitive2.required4"></li>
  <li translate="competitive2.required5"></li>
  <li translate="competitive2.required6"></li>
  <li translate="competitive2.required7"></li>
</ul>

<h2 translate="competitive2.briefing"></h2>
<ul>
  <li translate="competitive2.briefing1"></li>
  <li translate="competitive2.briefing2"></li>
  <li translate="competitive2.briefing3"></li>
  <li translate="competitive2.briefing4"></li>
  <li translate="competitive2.briefing5"></li>
  <li translate="competitive2.briefing6"></li>
</ul>

<h2 translate="competitive2.rounds"></h2>
<ul>
  <li translate="competitive2.rounds1"></li>
  <li translate="competitive2.rounds2"></li>
  <li translate="competitive2.rounds3"></li>
  <li translate="competitive2.rounds4"></li>
  <li translate="competitive2.rounds5"></li>
  <li translate="competitive2.rounds6"></li>
  <li translate="competitive2.rounds7"></li>
</ul>
