<h1 translate="gpe.title"></h1>

<i class="fa fa-info-circle"></i> <i translate="gpe.upgradepath"></i>

<h2 translate="gpe.steps"></h2>
<div class="steps">
  <span translate="gpe.step1"></span>
  <span translate="gpe.step2"></span>
  <span translate="gpe.step3"></span>
</div>

<h2 translate="gpe.fix"></h2>
<ul>
  <li translate="gpe.fix1"></li>
  <li translate="gpe.fix2"></li>
  <li translate="gpe.fix3"></li>
  <li translate="gpe.fix4"></li>
  <li translate="gpe.fix5"></li>
</ul>

<h2 translate="gpe.partial"></h2>
<ul>
  <li translate="gpe.partial1"></li>
  <li translate="gpe.partial2"></li>
  <li translate="gpe.partial3"></li>
  <li translate="gpe.partial4"></li>
</ul>

<h2 translate="gpe.upgrade"></h2>
<ul>
  <li translate="gpe.upgrade1"></li>
  <li translate="gpe.upgrade2"></li>
</ul>

<div class="center">
  <i class="fa fa-exclamation-triangle"></i> <b translate="gpe.time"></b>
</div>
