<table>
  <thead>
  <tr>
    <td colspan="2">
      <b translate="penalties.ipg">IPG</b> &mdash;
      <span translate="penalties.effective"></span>
      2016-04-08
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2" translate="penalties.gpe"></td>
  </tr>
  <tr>
    <td translate="penalties.mt"></td>
    <td><span translate="penalties.none">None</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.laec"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.hce"></td>
    <td><span translate="penalties.warning">Warning</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.mpe"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.grv"></td>
    <td><span translate="penalties.warning">Warning</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.ftmgs"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td colspan="2" translate="penalties.te"></td>
  </tr>
  <tr>
    <td translate="penalties.tardiness"></td>
    <td><span translate="penalties.gameloss">Game Loss</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.oa"></td>
    <td><span translate="penalties.matchloss">Match Loss</span></td>
  </tr>
  <tr>
    <td translate="penalties.slowplay"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.shuffling"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.ddlp"></td>
    <td><span translate="penalties.gameloss">Game Loss</span>**</td>
  </tr>
  <tr>
    <td translate="penalties.lpv"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.pcv"></td>
    <td><span translate="penalties.warning">Warning</span></td>
  </tr>
  <tr>
    <td translate="penalties.mc"></td>
    <td><span translate="penalties.warning">Warning</span>*</td>
  </tr>
  <tr>
    <td colspan="2" translate="penalties.uc"></td>
  </tr>
  <tr>
    <td translate="penalties.ucminor"></td>
    <td><span translate="penalties.warning">Warning</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.ucmajor"></td>
    <td><span translate="penalties.matchloss">Match Loss</span>*</td>
  </tr>
  <tr>
    <td translate="penalties.idaw"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  <tr>
    <td translate="penalties.bribery"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  <tr>
    <td translate="penalties.ab"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  <tr>
    <td translate="penalties.theft"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  <tr>
    <td translate="penalties.stalling"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  <tr>
    <td translate="penalties.cheating"></td>
    <td><span translate="penalties.dq">Disqualification</span></td>
  </tr>
  </tbody>
</table>
<i class="fa fa-info-circle"></i>
* <i translate="penalties.upgrade"></i> -
** <i translate="penalties.downgrade"></i>
