<h1 translate="sealed.swap"></h1>
<ul>
  <li translate="sealed.swap1"></li>
  <li translate="sealed.swap2"></li>
  <li translate="sealed.swap3"></li>
  <li translate="sealed.swap4"></li>
</ul>

<h1 translate="sealed.pairings"></h1>
<ul>
  <li translate="sealed.pairings1"></li>
  <li class="image"><img src="img/playoff.png" alt=""></li>
  <li translate="sealed.pairings2"></li>
</ul>

<h1 translate="sealed.suddendeath"></h1>
<ul>
  <li translate="sealed.suddendeath1"></li>
  <li translate="sealed.suddendeath2"></li>
  <li translate="sealed.suddendeath3"></li>
  <li translate="sealed.suddendeath4"></li>
</ul>

<h1 translate="sealed.drawing"></h1>
<ul>
  <li translate="sealed.drawing1"></li>
  <li translate="sealed.drawing2"></li>
  <li translate="sealed.drawing3"></li>
</ul>
