<h1 translate="pages.2hg"></h1>

<h2 translate="2hg.tournament"></h2>
<ul>
  <li translate="2hg.tournament1"></li>
  <li translate="2hg.tournament2"></li>
  <li translate="2hg.tournament3"></li>
  <li translate="2hg.tournament4"></li>
</ul>

<h2 translate="2hg.2hgrules"></h2>
<ul>
  <li translate="2hg.2hgrules1"></li>
  <li translate="2hg.2hgrules2"></li>
  <li translate="2hg.2hgrules3"></li>
</ul>
<i class="fa fa-info-circle"></i> <i translate="2hg.2hgrules4"></i>

<h2 translate="2hg.combat"></h2>
<ul>
  <li translate="2hg.combat1"></li>
  <li translate="2hg.combat2"></li>
</ul>

<h2 translate="2hg.loss"></h2>
<ul>
  <li translate="2hg.loss1"></li>
  <li translate="2hg.loss2"></li>
  <li translate="2hg.loss3"></li>
  <li translate="2hg.loss4"></li>
</ul>

<h2 translate="2hg.other"></h2>
<ul>
  <li translate="2hg.other1"></li>
  <li translate="2hg.other2"></li>
</ul>