<h1 translate="abilities.cast"></h1>
<ol>
  <li translate="abilities.cast1"></li>
  <li translate="abilities.cast2"></li>
  <li translate="abilities.cast3"></li>
  <li translate="abilities.cast4"></li>
  <li translate="abilities.cast5"></li>
  <li translate="abilities.cast6"></li>
</ol>

<h1 translate="abilities.resolve"></h1>
<ol>
  <li translate="abilities.resolve1"></li>
  <li translate="abilities.resolve2"></li>
  <li translate="abilities.resolve3"></li>
  <li translate="abilities.resolve4"></li>
  <li translate="abilities.resolve5"></li>
  <li translate="abilities.resolve6"></li>
  <li translate="abilities.resolve7"></li>
</ol>

<h1 translate="abilities.trigger"></h1>
<b translate="abilities.keywords"></b>
<ol>
  <li translate="abilities.trigger1"></li>
  <li translate="abilities.trigger2"></li>
  <li translate="abilities.trigger3"></li>
</ol>

<h1 translate="abilities.mana"></h1>
<ul>
  <li translate="abilities.mana1"></li>
  <li translate="abilities.mana2"></li>
  <li translate="abilities.mana3"></li>
  <li translate="abilities.mana4"></li>
</ul>
