<table>
  <thead>
    <tr>
      <td translate="announcements.player">Pl</td>
      <td translate="announcements.rounds">Rds</td>
    </tr>
  </thead>
  <tbody>
    <tr><td>8</td><td>3</td></tr>
    <tr><td>16</td><td>4</td></tr>
    <tr><td>32</td><td>5</td></tr>
    <tr><td>64</td><td>6</td></tr>
    <tr><td>128</td><td>7</td></tr>
    <tr><td>226</td><td>8</td></tr>
    <tr><td>409</td><td>9</td></tr>
  </tbody>
</table>

<h1 translate="announcements.title"></h1>
<ul>
  <li translate="announcements.announcement1"></li>
  <li translate="announcements.announcement2"></li>
  <li translate="announcements.announcement3"></li>
  <li translate="announcements.announcement4"></li>
  <li translate="announcements.announcement5"></li>
  <li translate="announcements.announcement6"></li>
  <li translate="announcements.announcement7"></li>
  <li translate="announcements.announcement8"></li>
  <li translate="announcements.announcement9"></li>
  <li translate="announcements.announcement10"></li>
  <li translate="announcements.announcement11"></li>
  <li translate="announcements.announcement12"></li>
  <li translate="announcements.announcement13"></li>
  <li translate="announcements.announcement14"></li>
  <li translate="announcements.announcement15"></li>
  <li translate="announcements.announcement16"></li>
</ul>

<h2 translate="announcements.playoffs"></h2>
<ul>
  <li translate="announcements.8players"></li>
  <li>
    <span translate="announcements.16players"></span>
    <ul>
      <li translate="announcements.sealed"></li>
      <li translate="announcements.constructed"></li>
    </ul>
  </li>
</ul>
