<h1 translate="jar.title"></h1>
<h2 translate="jar.issues"></h2>
<ul>
  <li translate="jar.issues1"></li>
  <li translate="jar.issues2"></li>
  <li translate="jar.issues3"></li>
  <li translate="jar.issues4"></li>
  <li translate="jar.issues5"></li>
  <li translate="jar.issues6"></li>
</ul>

<h2 translate="jar.unwanted"></h2>
<i translate="jar.unwanted1"></i>
<ul>
  <li translate="jar.unwanted2"></li>
  <li translate="jar.unwanted3"></li>
  <li translate="jar.unwanted4"></li>
</ul>

<h2 translate="jar.serious"></h2>
<i translate="jar.serious1"></i>
<ul>
  <li translate="jar.serious2"></li>
</ul>

<i class="fa fa-info-circle"></i> <span translate="jar.note"></span><br>
<i class="fa fa-link"></i> <a>http://blogs.magicjudges.org/regular/</a><br>

