<h1 translate="layers.continuous-effects"></h1>
<ol>
  <li translate="layers.layer1"></li>
  <li translate="layers.layer2"></li>
  <li translate="layers.layer3"></li>
  <li translate="layers.layer4"></li>
  <li translate="layers.layer5"></li>
  <li translate="layers.layer6"></li>
  <li class="layer7">
    <span translate="layers.layer7"></span>
    <ol type="a">
      <li translate="layers.layer7a"></li>
      <li translate="layers.layer7b"></li>
      <li translate="layers.layer7c"></li>
      <li translate="layers.layer7d"></li>
      <li translate="layers.layer7e"></li>
    </ol>
  </li>
</ol>
<i class="fa fa-info-circle"></i> <i translate="layers.same-layer"></i>

<h1 translate="layers.replacement-effects"></h1>
<ul>
  <li translate="layers.replacements1"></li>
  <li translate="layers.replacements2"></li>
  <li translate="layers.replacements3"></li>
  <li translate="layers.replacements4"></li>
</ul>

<h1 translate="layers.priority"></h1>
<ul>
  <li translate="layers.priority1"></li>
  <li translate="layers.priority2"></li>
  <li translate="layers.priority3"></li>
  <li translate="layers.priority4"></li>
</ul>

<i class="fa fa-file-o"></i> <b translate="layers.documents"></b> <a>http://blogs.magicjudges.org/translatedrules</a>

<h1 translate="layers.ask"></h1>
<div ng-if="language != 'fr'">
  <i class="fa fa-link"></i> <a>http://chat.magicjudges.org/mtgrules/</a><br>
  <i class="fa fa-link"></i> <a>https://www.facebook.com/groups/MTGAskTheJudge/</a>
</div>
<div ng-if="language == 'fr'">
  <i class="fa fa-link"></i> <a>https://www.facebook.com/Reglesmagicfrance/</a>
</div>
