<h1 translate="pages.reviews"></h1>

<table>
  <tr>
    <td>
      <h2 translate="reviews.prepare"></h2>
      <ul>
        <li translate="reviews.prepare1"></li>
        <li translate="reviews.prepare2"></li>
        <li translate="reviews.prepare3"></li>
        <li translate="reviews.prepare4"></li>
      </ul>
    </td>
    <td>
      <h2 translate="reviews.practices"></h2>
      <ul>
        <li translate="reviews.practices1"></li>
        <li translate="reviews.practices2"></li>
        <li translate="reviews.practices3"></li>
        <li translate="reviews.practices4"></li>
        <li translate="reviews.practices5"></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h2 translate="reviews.ideas"></h2>
    </td>
  </tr>
  <tr>
    <td>
      <h3 translate="reviews.level1"></h3>
      <ul>
        <li translate="reviews.level1a"></li>
        <li translate="reviews.level1b"></li>
        <li translate="reviews.level1c"></li>
        <li translate="reviews.level1d"></li>
      </ul>
    </td>
    <td>
      <h3 translate="reviews.level2"></h3>
      <ul>
        <li translate="reviews.level2a"></li>
        <li translate="reviews.level2b"></li>
        <li translate="reviews.level2c"></li>
        <li translate="reviews.level2d"></li>
        <li translate="reviews.level2e"></li>
        <li translate="reviews.level2f"></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 translate="reviews.tl"></h3>
      <ul>
        <li translate="reviews.tl1"></li>
        <li translate="reviews.tl2"></li>
        <li translate="reviews.tl3"></li>
        <li translate="reviews.tl4"></li>
        <li translate="reviews.tl5"></li>
      </ul>
    </td>
  </tr>
</table>

<h2 translate="reviews.feedback"></h2>
<em translate="reviews.feedback1"></em>

<b ng-show="language != 'fr'" translate="reviews.remember"></b>
