<h1 translate="shortcuts.title"></h1>
<i class="fa fa-info-circle"></i> <i translate="shortcuts.note"></i>
<ul>
  <li translate="shortcuts.shortcut1"></li>
  <li translate="shortcuts.shortcut2"></li>
  <li>
    <span translate="shortcuts.shortcut3"></span><br>
    <i class="fa fa-exclamation-triangle"></i> <i translate="shortcuts.shortcut4"></i>
  </li>
  <li translate="shortcuts.shortcut5"></li>
  <li translate="shortcuts.shortcut6"></li>
  <li>
    <span translate="shortcuts.shortcut7"></span><br>
    <i class="fa fa-exclamation-triangle"></i> <i translate="shortcuts.shortcut8"></i>
  </li>
  <li translate="shortcuts.shortcut9"></li>
  <li translate="shortcuts.shortcut10"></li>
  <li translate="shortcuts.shortcut11"></li>
  <li translate="shortcuts.shortcut12"></li>
</ul>
