<h1 translate="te.title"></h1>

<i class="fa fa-info-circle"></i> <i translate="te.upgrade"></i>

<h2 translate="te.fixes"></h2>
<ul>
  <li translate="te.fixes1"></li>
  <li translate="te.fixes2"></li>
  <li translate="te.fixes3"></li>
  <li><span translate="te.fixes4"></span>
    <ul>
      <li translate="te.fixes5"></li>
      <li translate="te.fixes6"></li>
    </ul>
  </li>
  <li translate="te.fixes7"></li>
  <li><span translate="te.fixes8"></span>
    <ul>
      <li translate="te.fixes9"></li>
      <li translate="te.fixes10"></li>
    </ul>
  </li>
</ul>

<h2 translate="te.alternative"></h2>
<ul>
  <li>
    <span translate="te.alternative1"></span>
    <ul>
      <li translate="te.alternative2"></li>
      <li translate="te.alternative3"></li>
      <li translate="te.alternative4"></li>
      <li translate="te.alternative5"></li>
    </ul>
  </li>
  <li translate="te.alternative6"></li>
</ul>

<div class="center">
  <i class="fa fa-exclamation-triangle"></i> <b translate="te.time"></b>
</div>
